/*Aquí por ejemplo repetí estilos de Home*/

.mainContainer {
  text-align: center;
  margin-bottom: 20px;
  gap: 20px;
}

.link {
  text-decoration: none;
  background-color: black;
  padding: 14px 25px;
  position: absolute;
  top: 0;
  right: 0%;
  color: white;
}

.albumsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.albumsResults {
  display: grid;
  padding: 10px;
  border: 1px solid LightGray;
  border-radius: 5px;
  width: 220px;
}

.albumImage {
  border-radius: 5px;
  height: 200px;
}

.artistImage {
  border-radius: 50%;
  width: 400px;
}
